@model ExchangeRateViewModel

<li><a class="header-link sm-none" href="#"><span class="fas fa-euro-sign"></span>@Model.EurRubRate</a></li>
<li><a class="header-link sm-none" href="#"><span class="fas fa-dollar-sign"></span>@Model.UsdRubRate</a></li>
