
<li>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <a asp-controller="Auth" asp-action="Logout" class="header-link">
            <span class="fas fa-sign-out-alt"></span>
            Logout
        </a>
    }
    else
    {
        <a asp-controller="Auth" asp-action="Login" class="header-link">
            <span class="fas fa-sign-in-alt"></span>
            Login
        </a>
    }
</li>