

@if (User?.Identity?.IsAuthenticated ?? false)
{
<a asp-controller="Auth" asp-action="Logout"
   class="btn btn-outline-danger"><span class="fas fa-sign-out-alt mr-1"></span>Logout</a>
}
else
{
<a asp-controller="Auth" asp-action="Login"
   class="btn btn-outline-primary"><span class="fas fa-sign-in-alt mr-1"></span>Login</a>
}